.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 880px;
    width: 100%;
    margin: 50px auto 0;
}
    
.group-image {
    position: relative;
    max-width: 282px;
    width: 100%;
    height: 361px;
    overflow: hidden;
    border-radius: 10px;
    background: #FFFFFF;            
}

.group-text {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    margin-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    max-width: 226px;
}

.button-like {
    background-color: transparent;
    position: absolute;
    border: none;
    max-width: 21px;
    width: 100%;
    height: 19px;
    margin-left: 243px;
    top: 314px;
    background-image: url(../images/heart-button.png);
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease;
    padding: 0;
}
.button-like.active {
    background-image: url(../images/Union.png);
}
    
.button-like:hover {
    background-image: url(../images/transição.png);
}

.delete-button {
    background-image: url(../images/Trash.png);
    background-color: transparent;
    position: absolute;
    border: none;
    max-width: 18px;
    width: 100%;
    height: 19.3px;
    top: 15px;
    left: 250px;
    cursor: pointer;
}
        
.delete-button:hover {
    background-image: url(../images/Trash-active.png);
}
        
.gallery-image {
    width: 100%;
    height: 282px;
    top: 329px;
    left: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
    
/* Responsivo: 3 imagens por linha */
@media (max-width: 1184px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    }
}
      
/* Responsivo: 2 imagens por linha em tablets */
@media (min-width: 768px) and (max-width: 992px){
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
        grid-gap: 20px;
        max-width: 768px;
        margin: 50px auto 0;
    }
}
      
/* Responsivo: 1 imagem por linha em smartphones */
@media (max-width: 767px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: 300px;
        margin: 30px auto 0;
    }
}
/* Responsivo: 2 imagens por linha em tablets */
@media (min-width:768px) and (max-width: 992px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Estilos para o lightbox */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 9999;
}

#lightbox-image {
    max-width: 75vw;
    max-height: 75vh;
    margin: 90px auto auto auto;
    display: block;
}

#close-button {
    position: absolute;
    right: 20px;
    background: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
    z-index: 10000;
    background-image: url(../images/Close\ Image.png);
    max-width: 33px;
    width: 100%;
    height: 33px;
    color: #FFFFFF;
    padding: 0;
    left: 1068px;
    top: 41px;
}
