.profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}
.avatar {
    width: 100%;
    max-width: 120px;
    height: 120px;
}
.profile-intro {
    position: relative;
    max-width: 415px;
    width: 100%;
    min-height: 77px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-intro {
    max-width: 373px;
    width: 100%;
    min-height: 39px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.subtitle-intro {
    max-width: 415px;
    width: 100%;
    height: 22px;
    margin: 20px 0 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.edit-button {
    position: absolute;
    max-width: 24px;
    width: 100%;
    height: 24px;
    background: url(../images/Edit\ Button.png);
    background-size: cover;
    border: none;
    cursor: pointer;
    padding: 0;
    top: 15px;
    margin-left: 400px;
}
.edit-button.active {
    background-image: url(../images/Edit\ Button\ trasition.png);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    max-width: 430px;
    width: 100%;
    top: 195px;
    left: 425px;
    border-radius: 10px;
}
.popup-enter {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .popup-exit {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
.tile-edit{
    max-width: 330px;
    width: 100%;
    height: 23px;
    top: 229px;
    left: 461px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 10px;
}

.popup__overlay {
    top: 0;
    left: 0;
}

.popup__container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 430px;
    max-height: 330px;
    box-shadow: 0px 0px 25px 0px #00000026;
}
.close-button {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    background-image: url(../images/Close\ Icon.png);
    max-width: 33px;
    width: 100%;
    height: 33px;
    color: #FFFFFF;
    padding: 0;
    top: -40px;
    right: -40px;
}

#profileName {
    max-width: 358px;
    width: 100%;
    height: 27.255207061767578px;
    top: 306px;
    left: 461px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 30px;
}
#profileAbout {
    max-width: 358px;
    width: 100%;
    height: 27.337236404418945px;
    top: 363px;
    left: 461px;
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}
#saveProfileButton {
    background-image: url(../images/Rectangle-save.png);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 358px;
    width: 100%;
    height: 50.1519775390625px;
    top: 438.337158203125px;
    left: 461px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}
.add-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    max-width: 430px;
    width: 100%;
    top: 195px;
    left: 575px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-button {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    max-width: 150px;
    width: 100%;
    height: 50px;
    background-image: url(../images/Add\ Button.png);
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease;
    padding: 0;
    margin: auto 0 auto auto;
}
.add-button:hover {
    background-image: url(../images/add-button-active.png);
}
.add-popup__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.add-popup__container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 430px;
    max-height: 330px;
    box-shadow: 0px 0px 25px 0px #00000026;
}
#itemTitle {
    max-width: 358px;
    width: 100%;
    height: 27.255207061767578px;
    top: 306px;
    left: 461px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 30px;
}
#itemLink {
    max-width: 358px;
    width: 100%;
    height: 27.337236404418945px;
    top: 363px;
    left: 461px;
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}
#addItemButton {
    background-image: url(../images/Rectangle-save.png);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 358px;
    width: 100%;
    height: 50.1519775390625px;
    top: 438.337158203125px;
    left: 461px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para o pop-up quando aberto */
.popup_opened {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 430px;
    width: 100%;
    height: 330px;
    top: 195px;
    left: 575px;
    border-radius: 10px;
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width:992px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .avatar {
        max-width: 120px;
        width: 100%;
        height: 120px;
    }
    .profile-intro {
        margin-top: 10px;
    }
    .title-intro {
        font-size: 28px;
    }
    .subtitle-intro {
        font-size: 16px;
    }
    .edit-button {
        width: 100%;
        max-width: 24px;
        height: 24px;
    }
    .add-button{
        width: 100%;                    
    }
    .popup {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .popup__container {
        width: 100%;
    }
    
    .close-button {
        top: -40px;
        right: 0px;
    }
    .add-popup {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
}

/* Estilos para smartphones */
@media (min-width: 200px) and (max-width:767px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .avatar {
        max-width: 120px;
        width: 100%;
        height: 120px;
    }
    .title-intro {
        font-size: 24px;
        text-align: center;
    }
    .subtitle-intro {
        font-size: 14px;
        text-align: center;
    }
    .edit-button {
        width: 100%;
        max-width: 18px;
        height: 18px;
        margin: auto;
    }
    .add-button{
        width: 100%;
        max-width: 150px;
        height: 50px;
        margin: auto;
    }
    .popup {
        width: 100%;
        max-width: 282px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup__container {
        max-height: 90%;
    }

    .close-button {
        top: -40px;
        right: 10px;
    }
    .add-popup {
        width: 100%;
        max-width: 282px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
}
/* Media query para telas maiores (desktop) */
@media screen and (min-width: 1025px) {
    .popup {
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .popup__container {
        width: 100%;
    }
    
    .close-button {
        top: -40px;
        right: 0px;
    }
    .add-popup {
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}