.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 880px;
    width: 100%;
    margin: 50px auto 0;
}
    
.group-image {
    position: relative;
    max-width: 282px;
    width: 100%;
    height: 361px;
    overflow: hidden;
    border-radius: 10px;
    background: #FFFFFF;            
}

.group-text {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    margin-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    max-width: 226px;
}

.button-like {
    background-color: transparent;
    position: absolute;
    border: none;
    max-width: 21px;
    width: 100%;
    height: 19px;
    margin-left: 243px;
    top: 314px;
    background-image: url(../images/heart-button.png);
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease;
    padding: 0;
}
.button-like.active {
    background-image: url(../images/Union.png);
}
    
.button-like:hover {
    background-image: url(../images/transição.png);
}

.delete-button {
    background-image: url(../images/Trash.png);
    background-color: transparent;
    position: absolute;
    border: none;
    max-width: 18px;
    width: 100%;
    height: 19.3px;
    top: 15px;
    left: 250px;
    cursor: pointer;
}
        
.delete-button:hover {
    background-image: url(../images/Trash-active.png);
}
        
.gallery-image {
    width: 100%;
    height: 282px;
    top: 329px;
    left: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
    
/* Responsivo: 3 imagens por linha */
@media (max-width: 1184px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    }
}
      
/* Responsivo: 2 imagens por linha em tablets */
@media (min-width: 768px) and (max-width: 992px){
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
        grid-gap: 20px;
        max-width: 768px;
        margin: 50px auto 0;
    }
}
      
/* Responsivo: 1 imagem por linha em smartphones */
@media (max-width: 767px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: 300px;
        margin: 30px auto 0;
    }
}
/* Responsivo: 2 imagens por linha em tablets */
@media (min-width:768px) and (max-width: 992px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Estilos para o lightbox */
#lightbox {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 9999;
}

#lightbox-image {
    max-width: 816px;
    width: 100%;
    margin: 90px auto auto auto;
    display: block;
}

#close-button {
    position: absolute;
    top: 10px;
    margin-right: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    background-image: url(../images/Close\ Image.png);
    width: 33px;
    height: 33px;
    color: #FFFFFF;
}

/* Media query para telas de celular */
@media screen and (min-width:320px) and (max-width: 768px) {
    #lightbox-image {
        max-width: 240px;
        width: 100%;
        margin-top: 136px;
    }

    #lightbox-image img {
        height: auto;
    }
    #close-button {
        top: 100px;
        right: 20px; 
    }
}
/* Media query para telas de tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #lightbox-image {
        width: 100%;
        margin-top: 136px;
    }

    #close-button {
        top: 100px;
        right: 20px; 
    }
}

@media screen and (min-width: 1025px) {
    #close-button {
        top: 35px;
        right: 280px;
    }
}
.delete-popup {
    width: 430px;
    height: 181px;
    box-shadow: 0px 0px 25px 0px #00000026;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
}
   
  .delete-popup__title {
    width: 358px;
    height: 23px;
    margin-top: 30px;
    margin-left: 35px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
  .confirm-delete {
    width: 358px;
    height: 50px;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 2px;
    background: #000000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }
  #closebutton {
    position: absolute;
    background-image: url(../images/Close\ Icon.png);
    width: 32px;
    height: 32px;
    margin-top: -120px;
    margin-left: 30px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  